.header {
  display: flex;
  justify-content: space-between;
  max-width: 1350px;
  width: 100%;
  margin: 40px auto 0;

  &__title {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    align-self: center;

    @media (max-width: 730px) {
      font-size: 1rem;
    }
  }

  & nav {
    position: relative;
  }

  @media (max-width: 1430px) {
    max-width: 1000px;
  }

  @media (max-width: 1080px) {
    max-width: 650px;
  }

  @media (max-width: 730px) {
    max-width: 300px;
  }
}
